<header>
<h1>Welcome to {{pageTitle}}</h1>
<p><a href="/">Home</a></p>
<p><a href="/about">About</a></p>
<p><a href="/projects">Projects</a></p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</header>
